*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}
body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-shadow: 0px 0px 20px #aaaaaa;
}
#author{
  background-color: rgb(209, 199, 199);
  width: fit-content;
  padding: 3px 10px;
  margin: 0;
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#top{
  display: flex;
  justify-content: space-between;
}
h1.time{
  align-self: center;
  font-size: 3rem;
}
#cryptos{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
  margin: 5px;
  font-size: 1.3rem;
}
#cryptoImg{
  width: 60px;
}
#crypto-values{
  position: absolute;
  top: 60px;
  left: 10px;
  margin-top: 30px;
}
#price,
#all-time-high,
#all-time-low{
  margin: 0;
}
#weather{
  display: flex;
  align-items: center;
}
.icon{
  position: absolute;
  top: -15px;
  right: 50px;
}
.temp{
  font-size: 50px;
  position: absolute;
  top: -45px;
  right: 0px;
}
.city{
  font-size: 20px;
  position: absolute;
  top: 45px;
  right: 25px;
}